customizerapp.dev {
    reverse_proxy localhost:3000

    encode gzip



    request_body {
        max_size 1500MB
    }


    header -X-Frame-Options


    header Content-Security-Policy "frame-ancestors 'self' https://admin.shopify.com https://*.myshopify.com;"


    header X-Content-Type-Options nosniff
    header X-XSS-Protection "1; mode=block"
    header Referrer-Policy strict-origin-when-cross-origin


    log {
        output file /var/log/caddy/upload-lift.log
        format json
    }
}


upload.customizerapp.dev {
    reverse_proxy https://storage.bunnycdn.com {
        header_up Host {upstream_hostport}
    }


    request_body {
        max_size 1500MB
    }

    log {
        output file /var/log/caddy/upload.log
        format json
    }
}
