[Unit]
Description=Custom Upload for Products Design - Preflight Worker
After=network.target postgresql.service redis-server.service custom-upload.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/3d-customizer
Environment=NODE_ENV=production
ExecStart=/usr/bin/pnpm worker:preflight:prod
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=custom-upload-worker


NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

